.top-background {
    background-image: url("../images/private-party-venues.png");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .proposals-container{
    color:red
  }
  .events_display_container {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-items: center;
    margin: 50px;
    margin-top: 30px;
    border-radius: 20px;
    grid-gap: 10px; /* Add the desired gap value here */
  }
  
  .events_display_container img{
    width:100%;
    height: 180px;
  }
  .events-budget-name-box{
    text-align: left;
    margin-left: 10px;
  }
  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
  }
  