.home_container{
        background-image: url("../images/party-people-enjoy-concert-at-festival-summer-DHDMPWH.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Open Sans", sans-serif;
        position: relative;
        width:100%;
        height:100vh;
}
.home_login_signup_container {
    position: absolute;
    top: 30vh;
    right: 10%;
    width: 20%;
    min-height: 20em;
    background-color: white;
    border-radius: 10px;
  }
  
.home_btn_container>button{
    width:50%;
    height:4em;
    border: none;
    border-left: 1px solid rgb(231, 225, 225);
    border-bottom: 1px solid rgb(231, 225, 225);
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
button:active {
    color: blue;
  }
  
.logo_box{
    float: left;

}
.heading_home_box{
position: absolute;
top:40vh;
left:5%;
font-size:4em;
color:white;
width:20%
}
input{
    width:90%;
    height: 3em;
    margin: 5px;
}
.login_register_btn{
    width: 30%;
    height: 3em;
    float: right;
    margin: 10%;
    background-color: rgb(84, 84, 236);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 400;
}
.home_btn_container button {
    color: black;
    background-color: transparent;
  }
  
  .home_btn_container button.active {
    color: blue;
    background-color: rgb(249, 246, 246);
  }
  
.createAccount{
    margin-top: 3em;
    font-weight: 800;
    color: rgb(75, 75, 241);
    cursor: pointer;
    font-size: 1.2em;
}